<h1 class="center">FAQ</h1>
<div class='questions-container'>
  <div class="flex-spacer"></div>  
  <div class="questions">
    <h3 id="mixeddit-access-spotify-password">Does Mixeddit gain access to my Spotify password?</h3>
    <p>No. When a user logs into Mixeddit they actually do so entirely through Spotify who then alerts
        Mixeddit if there was a successful login and the user gave Mixeddit permission to access their
        information.</p>
    <h3 id="spotify-permissions-granted">What information does Spotify give Mixeddit?</h3>
    <p>Currently Mixeddit is only asking for permission to see private playlists along with being
        able to modify both your public <b>and</b> private playlists</p>
  </div>
  <div class="questions-nav-container">
    <div class="questions-nav">
      <div class="questions-header">Questions</div>
      <nav>
        <a *ngFor="let question of questions"
            href="faq#{{question.id}}"
            class="question-link {{question.tag}}"
            [class.question-active]="question.active">{{question.innerText}}</a>
      </nav>
    </div>
  </div>
</div>