<h1 class="center">FAQ</h1>
<div class='questions-container'>
  <div class="questions-nav-container">
    <div class="questions-nav">
      <div class="questions-header">Questions</div>
      <nav>
        <a *ngFor="let question of questions"
            href="faq#{{question.id}}"
            class="question-link {{question.tag}}"
            [class.question-active]="question.active">{{question.innerText}}</a>
      </nav>
    </div>
  </div>
  <div class="questions">
    <h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p>
    <h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h4 id="h4Question">h4 Question</h4>
    <p>yeah I've no clue how to answer this.aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="firstQuestion">First Question</h3>
    <p>yeah I've no clue how to answer this.</p><h3 id="lastQuestion">Last Question</h3>
    <p>yeah STILL I've no clue how to answer this.</p>
  </div>
</div>