<form [formGroup]="mixedditForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field>
      <mat-label>Subreddit</mat-label>
      <input matInput required placeholder="metal" formControlName="subreddit">
      <span matPrefix>r/&nbsp;</span>
      <mat-error *ngIf="mixedditForm.invalid  && !mixedditForm.get('subreddit').
        hasError('required')">Could not find subreddit
      </mat-error>
      <mat-error *ngIf="mixedditForm.get('subreddit').hasError('required')">
        Subreddit is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="fill-width">
      <textarea matInput matTextareaAutosize
        required placeholder="Spotify Playlist"
        matAutosizeMaxRows="2" formControlName="playlist">
      </textarea>
      <mat-error *ngIf="mixedditForm.invalid && !mixedditForm.get('playlist').
        hasError('required')">Could not find playlist
      </mat-error>
      <mat-error *ngIf="mixedditForm.get('playlist').hasError('required')">
        Playlist is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="!loading" class="center-div">
    <button mat-raised-button class="primary" type="submit" [disabled]="mixedditForm.invalid">Generate Playlist</button>
  </div>
  <div *ngIf="loading" class="center-div">
    <mat-spinner></mat-spinner>
  </div>
  <mat-card class="primary">Playlist has been updated!</mat-card>
  <mat-card class="accent-lighter" style="color: black;">Playlist has been updated!</mat-card>
</form>