<form [formGroup]="mixedditForm" #mixedditFormDirective="ngForm" (ngSubmit)="onSubmit(mixedditFormDirective)">
  <div>
    <mat-form-field class="fill-width">
      <mat-label>Subreddit</mat-label>
      <input matInput required placeholder="metal" formControlName="subreddit">
      <span matPrefix>r/&nbsp;</span>
      <mat-error *ngIf="mixedditForm.invalid && (mixedditForm.get('subreddit').dirty ||
          mixedditForm.get('subreddit').touched)">
        <mat-error *ngIf="mixedditForm.get('subreddit').hasError('required')">
          Subreddit is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="!mixedditForm.get('subreddit').
          hasError('required')">Could not find subreddit
        </mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="fill-width">
      <mat-label>Sort Subreddit By</mat-label>
      <mat-select formControlName="sort_by">
        <mat-option *ngFor="let sortOption of sortBy" [value]="sortOption">
          {{sortOption}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="fill-width">
      <mat-label>Links From</mat-label>
      <mat-select formControlName="time_filter">
        <mat-option *ngFor="let time of timeFilter" [value]="time.value">
          {{time.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="fill-width">
      <mat-label>Limit of Links to Check</mat-label>
      <input matInput type="number" required formControlName="limit">
      <mat-error *ngIf="mixedditForm.invalid && (mixedditForm.get('limit').dirty ||
          mixedditForm.get('limit').touched)">
        <mat-error *ngIf="mixedditForm.get('limit').hasError('required')">
          Limit is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="mixedditForm.get('limit').hasError('min')">
          Limit must be <strong>at least</strong> 10
        </mat-error>
        <mat-error *ngIf="mixedditForm.get('limit').hasError('max')">
          Limit must be
          <strong>at most</strong> 250
        </mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field class="fill-width">
      <input matInput required placeholder="Spotify Playlist" formControlName="playlist">
      <mat-error *ngIf="mixedditForm.invalid && (mixedditForm.get('playlist').dirty ||
          mixedditForm.get('playlist').touched)">
        <mat-error *ngIf="mixedditForm.get('playlist').hasError('required')">
          Playlist is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="!mixedditForm.get('playlist').
          hasError('required')">Could not find playlist
        </mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox formControlName="create_playlist" color="primary">Create playlist if not found</mat-checkbox>
  </div>
  <div style="text-align: center">
    private
    <mat-slide-toggle formControlName="create_public" color="primary"></mat-slide-toggle>
    public
  </div>
  <div *ngIf="!loading" class="center-div vert-margin">
    <button mat-raised-button class="primary" type="submit" [disabled]="mixedditForm.invalid">Generate Playlist</button>
  </div>
  <div *ngIf="loading" class="center-div vert-margin">
    <mat-spinner></mat-spinner>
  </div>
</form>
<mat-card *ngIf="replaceSuccess" class="center-div primary" [@showSuccess]="replaceSuccess">{{replaceMessage}}!</mat-card>