<div class="guest-row">
  <div class="guest-row-desc">
    <a mat-raised-button class="spotify-button" href='/spotify/login'>
      <img class="spotify-logo" src="./assets/Spotify_logo_without_text.svg">
      Login with Spotify
    </a>
  </div>
</div>

<div class="guest-row">
  <div class="guest-row-desc">
    <h3>
      first we take the schleem
    </h3>
    <p>
      then we bake the pig
    </p>
  </div>
</div>

<div class="guest-row">
  <div class="guest-row-desc">
    <a mat-raised-button class="spotify-button" href='/spotify/login'>
      <img class="spotify-logo" src="./assets/Spotify_logo_without_text.svg"> Login with Spotify
    </a>
  </div>
</div>