<div class="guest-row">
  <div class="guest-row-desc">
    <a mat-raised-button class="spotify-button" href='/spotify/login'>
      <img class="spotify-icon" src="./assets/spotify/Spotify_Icon_Black.svg">
      Login with Spotify
    </a>
  </div>
</div>

<div class="guest-row guest-row-reverse">
  <div class="guest-row-half">
    <img class="reddit-logo" src="./assets/reddit/Reddit_VerticalLockup_OnDark.svg">
  </div>
  <div class="guest-row-desc guest-row-half">
    <h2>Choose a Subreddit</h2>
    <p>Whether you're a shredditor from /r/metal or looking to experiment
      with /r/listentothis, if it's a music subreddit it can be a playlist.
    </p>
  </div>
</div>

<div class="guest-row">
  <div class="guest-row-half">
    <img class="spotify-logo" src="./assets/spotify/Spotify_Logo_Green.svg">
  </div>
  <div class="guest-row-desc guest-row-half">
    <h2>Pick a Spotify Playlist</h2>
    <p>Mixeddit will need a Spotify playlist to populate with songs from
      the subreddit.
    </p>
  </div>
</div>

<div class="guest-row">
  <div class="guest-row-desc" style="text-align: center;">
    <h2>That's it!</h2>
    <p>Sit back as Mixeddit handles the playlist creation for you.
    </p>
    <p>Login with Spotify to get started.</p>
  </div>
</div>

<div class="guest-row">
  <div class="guest-row-desc">
    <a mat-raised-button class="spotify-button" href='/spotify/login'>
      <img class="spotify-icon" src="./assets/spotify/Spotify_Icon_Black.svg"> Login with Spotify
    </a>
  </div>
</div>