<nav class="toolbar-header">
  <a mat-button routerlink="/">
    <img class="mixeddit-logo" src="./assets/mixeddit/mixeddit_white_initals.svg">
    <span>Material</span>
  </a>
  <div class="flex-spacer"></div>
  <a mat-button routerlink="/">
    <img class="mixeddit-logo" src="./assets/mixeddit/mixeddit_white_initals.svg">
    <span>Material</span>
  </a>
</nav>
<nav class="toolbar-small">
  <a mat-button routerlink="/">Generate Playlist</a>
  <a mat-button routerlink="/">FAQ</a>
  <a mat-button routerlink="/">About</a>
</nav>