app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
}
.toolbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.mixeddit-logo {
  height: 36px;
}

nav .mat-button {
  font-weight: 600;
}

.flex-spacer {
  flex-grow: 1;
}

.toolbar-small {
    display: none;
}

.toolbar-small a {
    flex: 1;
}

.toolbar-large {
    display: flex;
}

@media (max-width: 720px){
    .toolbar-small {
        display: flex;
    }

    .toolbar-large {
        display: none;
    }
}