<nav class="toolbar-header">
  <a mat-button routerLink="/">
    <img class="mixeddit-logo" src="./assets/mixeddit/mixeddit_white_initals.svg">
    <span>Material</span>
  </a>
  <div class="flex-spacer"></div>
  <a mat-icon-button class="toolbar-small" href="https://github.com/zgilkerson/mixeddit">
    <img class="github-logo" src="./assets/github/github-circle-white.svg">
  </a>
</nav>
<nav class="toolbar-small">
  <a mat-button routerLink="/faq">FAQ</a>
  <a mat-button routerLink="/about">About</a>
</nav>