@import '~@angular/material/theming';
@import 'mixeddit_palette.scss';

@include mat-core();
$primary: mat-palette($mixeddit-light-blue);
$accent:  mat-palette($mixeddit-red);
$warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-dark-theme($primary, $accent, $warn);
$light-theme: mat-light-theme($primary, $accent, $warn);
// theme the angular components
@include angular-material-theme($theme);

// theme our own components
@import "app/app.component.scss";
@include app-component-theme($theme);

@import "app/homepage/homepage.component.scss";
@include homepage-component-theme($theme);

@import "app/faq/faq.component.scss";
@include faq-component-theme($theme);

body {
    font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
    margin: 0;
}

.light-theme {
    @include angular-material-theme($light-theme);
    @include app-component-theme($light-theme);
    @include homepage-component-theme($light-theme);

    // https://github.com/angular/material2/blob/abc3d38c57146443c848d5ba26fd2fab8ca185d6/src/lib/core/_core.scss#L44
    // ¯\_(ツ)_/¯
    $background: map-get($light-theme, background);
    $foreground: map-get($light-theme, foreground);

    background-color: mat-color($background, background);
    color: mat-color($foreground, text);
}